
.image-parent {
  max-width: 45px;
}

main > .container {
  padding: 60px 15px 0;
}

body {
  background-color: #121212;
}

.navbar {
  background-color: #000000;
}

footer {
  background-color: #000000;
}

.list-group-item {
  background-color: #282828;
}

.list-group:hover .list-group-item:hover {
  background-color: #404040;
}

.btn-success {
  background-color: #1DB954 ;
  border-color: #1DB954 ;
}

.btn-success:hover {
  background-color: #1ED760 ;
  border-color: #1ED760 ;
}

.btn-outline-success {
  border-color: #1DB954 ;
  color: #1DB954 ;
}

.btn-outline-success:hover {
  background-color: #1DB954 ;
  border-color: #1DB954 ;
}

a.mylink {
  color: #66fcf1;
}

a.mylink:hover {
  color: #45A29E;
}

.form-check-input:checked{
  background-color: #1ED760;
  border-color: #1ED760;
}

audio {
  width:100% !important;
  min-height: 30px;
  display:block;
}

.nowrap {
  white-space: nowrap;
}

tr {
  vertical-align: middle;
}

table.table.table-borderless td {
  padding-top: 0.1em !important;
  padding-bottom: 0.1em !important;
}

.bar-box {
  height: 110px;
  overflow: auto;
}

.left-cell {
  width: 1%;
  padding-left: 0em !important;
  /* text-align: right; */
}

.right-cell {
  width: 99%;
  padding-right: 0em !important;
}