{% extends "layout.html" %}

{% block title %}
Step 3: Divide!
{% endblock %}

{% block main %}
<div class="container col-lg-9 mx-auto">
    <H3 class="mb-3">3: Select the playlists you want to move this track to and confirm:</H3>
    <div class="row flex-xl-row justify-content-center align-items-center py-2">
        <div class="container col-9 col-sm-9 col-md-4 col-lg-5 flex-row justify-content-center">
            <img src={{ image_url }} class="d-block mx-auto img-fluid" alt="Album cover" loading="lazy" width="300"
                height="300">

            {% if preview_url %}

            <div id="audio-block" class="py-2">
                <audio id="audio_preview" preload="auto" controls="controls" autoplay type="audio/mpeg">
                    <source src="{{ preview_url }}" type="audio/mp3" />
                </audio>
            </div>
            <script>
                var audio = document.getElementById("audio_preview");
                audio.volume = 0.3;
                // audio.style.width = '200px';
            </script>
            <!--
            <iframe src={{ uri }} width="250" height="80" allowtransparency="true"></iframe>
        -->
            {% endif %}
        </div>
        <div class="col-md-8 col-lg-7">
            <p class="mb-0">
                {{ track_type | upper() }}
            </p>
            <h1 class="display-5 fw-bold mt-2">
                {{ title }}
            </h1>
            <p class="h5 fw-bold">
                {{ artist_str }}
            </p>
            <p class="h6 fw-light">
                {{ album_type | upper() }}: {{ album }} &bull; released on {{ label }} on <span class="nowrap"> {{
                    release_date }} </span>
            </p>
            <p class="h6 fw-light">
                {{ duration_str }} &bull; Artist Genres: {{ genres_str }}
                <!-- &bull; -->
            </p>
            <p class="h6 fw-light"></p>
            <span class="nowrap">BPM: {{bpm | round(2)}}</span> &bull;
            <span class="nowrap">Key: {{ key_tone }}
                ({{key_cam}})</span>
            </p>
            <div class="fw-lighter mt-3 bar-box">
                <table class="table table-borderless text-light fw-lighter table-sm">
                    <tbody>
                        {% for feature in feature_list %}
                        <tr>
                            <td class="left-cell"><span class="nowrap"><span>{{ feature['name'] }}: {{ feature['value']
                                        }}</span></td>
                            <td class="right-cell">
                                <div class="progress" style="height: 5px; background-color:#404040;">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow={{
                                        feature['value'] }} aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ feature['value'] }}%; background-color:{{ feature['color'] }} !important;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!--
            
        -->
            </div>
        </div>
        <div class="py-2">
            <form action="/divide" method="post">
                <!--
                <script type="text/javascript">
                    // setup some JSON to use
                    function doWork() {
                        // ajax the JSON to the server
                        var data = {}
                        data['btn_clicked'] = event.srcElement.id
                        console.log(data)
                        $.ajax({
                        type: 'POST',
                            url: '/divide',
                            data: JSON.stringify(data, null, '\t'),
                            success: function() {window.location.replace('divide.html')},
                            contentType: "application/json;charset=UTF-8'",
                            dataType: 'json'
                        });
                        // stop link reloading the page
                        event.preventDefault();
                    }
                </script>
            -->
                <div class="my-2 d-flex mx-auto justify-content-center">
                    <button type="submit" name="btn_clicked" value="btn_prev" class="btn btn-success mx-1">Prev. +
                        Confirm</button>
                    <button type="submit" name="btn_clicked" value="btn_next" class="btn btn-success mx-1">Next +
                        Confirm</button>
                </div>
                <!--<div class="my-2 d-flex mx-auto justify-content-center">-->
                <!--<div class="my-2 d-md-flex mx-md-auto justify-content-center">-->
                <div class="my-2 d-flex justify-content-center">
                    <div>
                        {% if move_remove_enabled %}
                        <label class="form-check">
                            <input class="form-check-input" type="radio" id="radio_move" name="radio_action" value="radio_move" 
                            {% if radio_action == 'radio_move' %} checked {% endif %}>
                            <label class="form-check-label" for="radio_move">
                                Move (delete song from source playlist)
                            </label>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" id="radio_copy" name="radio_action" value="radio_copy"
                            {% if radio_action == 'radio_copy' %} checked {% endif %}>
                            <label class="form-check-label" for="radio_copy">
                                Copy (keep song in source playlist)
                            </label>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" id="radio_remove" name="radio_action" value="radio_remove"
                            {% if radio_action == 'radio_remove' %} checked {% endif %}>
                            <label class="form-check-label" for="radio_remove">
                                Remove (only delete from source playlist)
                            </label>
                        </label>
                        {% else %}
                        <label class="form-check">
                            <input class="form-check-input" type="radio" id="radio_copy" name="radio_action" value="radio_copy" checked>
                            <label class="form-check-label" for="radio_copy">
                                Copy (keep song in source playlist)
                            </label>
                        </label>
                        {% endif %}
                    </div>
                </div>
                <div class="form-check my-2 mx-3">
                    <!--https://stackoverflow.com/questions/386281/how-to-implement-select-all-check-box-in-html-->
                    <script language="JavaScript">
                        function toggle(source) {
                            checkboxes = document.getElementsByName('action_playlist_ids');
                            for (var i = 0, n = checkboxes.length; i < n; i++) {
                                checkboxes[i].checked = source.checked;
                            }
                        }
                    </script>
                    <input type="checkbox" class="form-check-input" onClick="toggle(this)" name="select_all"
                        id="select_all" {% if select_all == 'on' %} checked {% endif %}>
                    <label class="form-check-label ms-2" for="select_all">
                        Select all
                    </label>
                </div>
                <div class="list-group bg-dark">
                    <!-- maybe later I'll implement this funcionality; just 'like' the song selected...
            <button type="submit" name="pl_btn" value="liked_songs"
                class="list-group-item list-group-item-action d-flex align-items-center text-light">
                <div class="image-parent"><img src="static/SpotifyLiked.png" class="img-fluid"></div>
                <div class="ms-3"> Liked songs </div>
            </button>
            -->
                    {% for playlist in act_playlists %}
                    <!-- https://codepen.io/cristinaconacel/pen/OBOjLg -->
                    <label class="list-group-item list-group-item-action d-flex align-items-center text-light">
                        <input class="form-check-input me-3" type="checkbox" name="action_playlist_ids"
                            value="{{ playlist['id'] }}" {% if playlist['checked'] %} checked {% endif %}>                        
                        {% if playlist['images'] %}
                        <div class="image-parent"><img src={{ playlist['images'][0]['url'] }} class="img-fluid"></div>
                        {% else %}
                        <div class="image-parent"><img src="static/EmptyPlaylist.png" class="img-fluid"></div>
                        {% endif %}

                        <div class="ms-3"> {{ playlist['name'] }} </div>
                    </label>
                    {% endfor %}
                </div>
            </form>

        </div>
        {% endblock %}
    </div>
</div>