<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Load font for my logo-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="static/styles.css" rel="stylesheet">

    <!-- https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df-->
    <meta name="theme-color" content="#f8f9fa">
    <link rel="icon" type="image/svg+xml" href="static/Spodivide_logo.svg">
    <link rel="mask-icon" href="static/Spodivide_logo.svg" color="#f8f9fa">
    <link rel="apple-touch-icon" href="static/Spodivide_logo-apple-touch-icon.png">
    <link rel="manifest" href="manifest.json">

    <title>SpoDivide: {% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column h-100 text-light">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
                <!--googleoff: snippet-->

                <a href="\" class="d-inline-flex align-items-center fw-bold text-decoration-none">
                    <img src="static/Spodivide_logo.svg"
                        width="30px" height="30px" class="me-2" alt="Spodivide icon">
                    <span class="navbar-brand">SpoDivide</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        {% if session.spotify_logged_in %}
                        <li class="nav-item"><a class="nav-link" href="/select_source">1: Select source playlist</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/select_target">2: Select target playlists</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/divide">3: Divide</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="/more_info">More information</a></li>
                    </ul>
                    {% if session.spotify_logged_in %}
                    <form class="d-flex">
                        <a class="btn btn-outline-success rounded-pill px-3 btn-sm" href="/logout">LOG OUT</a>
                    </form>
                    {% endif %}
 
                    <!-- You should be always redirected to login.. so the button is not really needed.
                        
                    <form class="d-flex">
                        <a class="btn btn-outline-success rounded-pill px-3 btn-sm" href="/login">LOG IN WITH
                            SPOTIFY</a>
                    </form>
                -->
                    
                    
                </div>
                <!--googleon: snippet-->
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        <div class="container mt-2">
            {% if get_flashed_messages() %}
            <header class="d-flex justify-content-center">
                <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </header>
            {% endif %}
            <div class="my-4 mx-auto">
                {% block main %}{% endblock %}
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 text-white-50">
        <div class="container">
            <section>
                <p class="d-flex flex-row align-items-center my-0">
                    <span class="text-muted">© 2021 - A web app by</span>
                    <a class="mylink d-flex align-items-center " href="https://www.tice.digital" target="_blank"
                        rel="noopener noreferrer">
                        <img class="ms-2 me-1" width="22px" height="22px" src="static/TICE_logo.svg"
                            alt="logo Tice ice cube"/>
                        <!-- making up for vertial alignment, probably caused by removed underline-->
                        <span style="position:relative; top:1px;">TICE</span>
                    </a>
                </p>

            </section>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>

</html>