{% extends "layout.html" %}

{% block title %}
More information
{% endblock %}

{% block main %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container col-lg-8 mx-auto">
    <div class="text-center">
        <H1 class="display-4 fw-bold d-inline-flex align-items-center"><img src="static/Spodivide_logo.svg" width="55px"
                class="me-3" alt="Spodivide icon"> SpoDivide</H1>
        <div class="py-1 my-2 mb-5 mx-auto">
            <H4>Divide your Spotify Liked Songs over your playlists.</H4>
        </div>
    </div>
    <div class="mx-auto text-left">
        <H4>About</H4>
        <p>I collect music by liking my Spotify songs. I listen to Discover Weekly, Release
            Radar, and a number of other favourite playlists, and just <i class="far fa-heart"></i> everything i like.
        </p>
        <p>I do have a lot of personal playlists too, for different genres and moods for example.
            It’s how I collect music. However, I never got around to divide my liked songs over these playlists. It was
            just too much hassle, dragging and dropping each song to multiple playlist, sometimes 100+ songs. In
            addition, I wanted more information on the songs I was moving, like genre and bpm.</p>
        <p>That’s why I created SpoDivide.</p>
        <H4 class="mt-4">More details on use</H4>
        <H5>Step 1</H5>
        <p>Step 1 is pretty straight forward: Select the playlist from which you want to divide
            your songs. Often this will be your Liked Songs, but you can also select any other playlist from which you
            want to divide songs. For example Discover Weekly or Release Radar, or any other playlist that contains many
            songs you want to add to your own playlists.</p>
        <H5>Step 2</H5>
        <p>This is an extra step to make your life easier in step 3. If you have a lot of
            playlists (like me), you probably don't want to add songs to most of them. Step 2 is a pre-selection for
            playlists that are available in Step 3. Of course you're free to use all of your playlists with 'Select
            all'!
        </p>
        <p>
            Note that your playlists are already filtered. For SpoDivide to be able to add songs to a playlist, the
            playlist must be created by you (you must be the owner) and playlist can't be a collaborative playlist.
        </p>
        <p>
            Another use case of SpoDivide is creating a playlist for a special occasion: Create a playlist in Spotify,
            Select it as target, and just go through your Liked Songs; Add the songs you want to add for the occasion,
            and simply skip the others.
        </p>
        <H5>Step 3</H5>
        <p>From left to right, top to bottom, we see: The album artwork, a preview option,
            information and features of the track, confirmation and navigation buttons, the action you want to perform
            (move, copy or remove) and the list to select the playlists to which you want to add the song. </p>
        <p>
            After 'Released on', the label on which the song was released is mentioned. BPM means Beats Per Minutes. The
            musical key between parenthesis is the <a class="normallink" href="https://mixedinkey.com/harmonic-mixing-guide/"
                target="_blank" rel="noopener noreferrer">Camelot Key</a>. To learn more about what each song feature
            (like popularity, energy and danceability) means, please check the <a
                href="https://developer.spotify.com/documentation/web-api/reference/#category-tracks" class="normallink" target="_blank"
                rel="noopener noreferrer">Spotify documentation <i class="fas fa-arrow-right"></i> AudioFeaturesObject</a>.</p>
        <p>
            There are four navigation buttons, from left to right: previous song, previous song and confirm, next song
            and confirm, next song. The buttons with confirm peform the action selected below on this song to the
            playlist(s) selected below. The buttons without confirmation are used for navigation (next or previous song)
            without performing any action.
        </p>
        <p>
            The actions which you can perform are: Move, Copy and Remove. 'Move' adds the song to the selected
            playlist(s) and deletes the song from source playlist, or 'Unlikes' the song if the source
            playlist you selected in Step 1 is your Liked Songs.
            'Copy' adds the song to the selected playlist(s) and doesn't remove the song from the source playlist.
            'Remove' only deletes from source playlists without adding it to a playlist (for if you just don't like the
            song anymore). Note that for the Copy and Remove action, you must be the owner of the source playlist and
            the source playlist can't be a collaborative playlists. In that case the Copy and Remove option are
            automatically hidden.
        </p>
        <p>
            That's it! For any other questions, unclearities, bugs, you name it, be sure to drop me a line!
        </p>
        <H4>Feedback</H4>
        <p>
            I hope you enjoy using SpoDivide. If anything is unclear or not working, please let me know. If you just
            want to say hi or thanks, that's no problem too!
            <button></button> (work in progress, button comming soon!)
        </p>
        <H4 id="data_privacy">Privacy and data</H4>
        <p>
            SpoDivide doesn't store or use your personal data in any way. Only the data SpoDivide needs is requested and
            used (these are: your username, your playlists and your liked songs). Your information will never be sold or
            shared with Third Parties. No information is stored longer that the session + 1 hour. Use the 'Log
            Out'-button in the top right to clear your data and to disconnect your account from SpoDivide immediately.
        </p>
        <H4>Let's go!</H4>
        <p>
            That's a lot of reading, I'm ready to divide!
            <button></button> (work in progress, button comming soon!)
        </p>

    </div>
</div>
{% endblock %}