{% extends "layout.html" %}

{% block title %}
Step 1: Select Source
{% endblock %}

{% block main %}
<div class="col-lg-9 mx-auto">
    <H3 class="my-4">Step 1: Select the source playlist which contains the tracks you want to divide:</H3>

    <!--https://stackoverflow.com/questions/50162274/getting-button-name-as-input-->
    <form class="list-group bg-dark" action="/select_source" method="post">
        <button type="submit" name="playlist_btn" value="liked_songs"
            class="list-group-item list-group-item-action d-flex align-items-center text-light">
            <div class="image-parent"><img src="static/SpotifyLiked.png" class="img-fluid"></div>
            <div class="ms-3"> Liked songs </div>
        </button>
        {% for playlist in playlists %}
        <!-- https://codepen.io/cristinaconacel/pen/OBOjLg -->
        <button type="submit" name="playlist_btn" value={{ playlist['id'] }}
            class="list-group-item list-group-item-action d-flex align-items-center text-light">
            {% if playlist['images'] %}
            <div class="image-parent"><img src={{ playlist['images'][0]['url'] }} class="img-fluid"></div>
            {% else %}
            <div class="image-parent"><img src="static/EmptyPlaylist.png" class="img-fluid"></div>
            {% endif %}

            <div class="ms-3"> {{ playlist['name'] }} </div>
        </button>
        {% endfor %}
    </form>

</div>
{% endblock %}