{% extends "layout.html" %}

{% block title %}
Step 2: Select Target
{% endblock %}

{% block main %}
<div class="col-lg-9 mx-auto">
    <H3 class="mb-3">2: Select all playlists you might want to move the songs to:</H3>
    <form action="/select_target" method="post">

        <button type="submit" class="btn btn-success rounded-pill my-2 py-2 ps-2 pe-3 d-flex mx-auto"><i class="bi-check-lg mx-2"></i>Confirm Selection</button>
        <div class="form-check mx-3 my-2">
            <!--https://stackoverflow.com/questions/386281/how-to-implement-select-all-check-box-in-html-->
            <script language="JavaScript">
                function toggle(source) {
                    checkboxes = document.getElementsByName('target_playlist_ids');
                    for (var i = 0, n = checkboxes.length; i < n; i++) {
                        checkboxes[i].checked = source.checked;
                    }
                }
            </script>
            <input type="checkbox" class="form-check-input" onClick="toggle(this)" id="select_all">
            <label class="form-check-label ms-2" for="select_all">
                Select all
            </label>
        </div>
        <div class="list-group bg-dark">
            <!-- maybe later I'll implement this funcionality; just 'like' the song selected...
            <button type="submit" name="pl_btn" value="liked_songs"
                class="list-group-item list-group-item-action d-flex align-items-center text-light">
                <div class="image-parent"><img src="static/SpotifyLiked.png" class="img-fluid"></div>
                <div class="ms-3"> Liked songs </div>
            </button>
            -->
            {% for playlist in playlists %}
            <!-- https://codepen.io/cristinaconacel/pen/OBOjLg -->
            <label class="list-group-item list-group-item-action d-flex align-items-center text-light">
                <input class="form-check-input me-3" type="checkbox" name="target_playlist_ids"
                    value="{{ playlist['id'] }}" {% if playlist['checked'] %} checked {% endif %}>
                {% if playlist['images'] %}
                <div class="image-parent"><img src={{ playlist['images'][-1]['url'] }} class="img-fluid"></div>
                {% else %}
                <div class="image-parent"><img src="static/EmptyPlaylist.png" class="img-fluid"></div>
                {% endif %}

                <div class="ms-3"> {{ playlist['name'] }} </div>
            </label>
            {% endfor %}
        </div>
    </form>

</div>
{% endblock %}