{% extends "layout.html" %}

{% block title %}
    Step 1: Select Source
{% endblock %}

{% block main %}
    <h1>
        Hello, {{ username }}!
    </h1>
    <h3>
        Please select the playlist from which you want to divide songs:
    </h3>
    <div class="list-group">
        <button type="button" id="liked_songs" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-right">
            <div class="image-parent"><img src= "static/SpotifyLiked.png" class="img-fluid"></div>
            Liked songs
        </button>
        {% for playlist in playlists %}
        <!-- https://codepen.io/cristinaconacel/pen/OBOjLg -->
            <button type="button" id={{ playlist['id'] }} class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-right">
                {% if playlist['images'] %}
                    <div class="image-parent"><img src= {{ playlist['images'][0]['url'] }} class="img-fluid"></div>
                {% else %}
                    <div class="image-parent"><img src= "static/EmptyPlaylist.png" class="img-fluid"></div>
                {% endif %}

                {{ playlist['name'] }}
            </button>
        {% endfor %}
        <script>
        // https://stackoverflow.com/questions/32441186/jquery-post-to-flask-how-to-request-data
        // https://stackoverflow.com/questions/10291017/how-to-get-id-of-button-user-just-clicked

            $("button").click(function() {
                $.post("/select_source", {"playlist_id": this.id})
            });
        </script>
    </div>
{% endblock %}